@keyframes spin
  from
    -moz-transform rotate(0deg)
    -o-transform rotate(0deg)
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  to
    -moz-transform rotate(359deg)
    -o-transform rotate(359deg)
    -webkit-transform rotate(359deg)
    transform rotate(359deg)

// ! `:before` animation is not supported well
// We have to rotate parent, and it should be block/inline-block

.animate-spin
  -moz-animation                 spin 2s infinite linear
  -o-animation                   spin 2s infinite linear
  -webkit-animation              spin 2s infinite linear
  animation                      spin 2s infinite linear

.animate-spin-30
  -moz-animation                 spin 2s steps(12,start) infinite
  -o-animation                   spin 2s steps(12,start) infinite
  -webkit-animation              spin 2s steps(12,start) infinite
  animation                      spin 2s steps(12,start) infinite

